<div id="modalAddReference" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-xs-center">Add a reference</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="/vis/<%= chart.id%>/editRef?_method=PUT">
                    <div class="form-group">
                        <label for="thumbnail_url">Thumbnail URL</label>
                        <input type="text" class="form-control" id="thumbnail_url" name="thumbnail_url" required></input>
                    </div>
                    <div class="form-group">
                        <label for="url">Reference URL</label>
                        <input type="text" class="form-control" id="url" name="url" required></input>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-blue"> Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-xs-center">
                Don't have an account? <a href="/auth/register">Sign up »</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->