<%- include("../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <br class="mt-5">
        <p class="lead">Are you looking for</p>
        <h1 class="display-4"> effective, insightful visualizations</h1>
        <p class="lead">to tell a story, make an informed decision, teach, and more?</p>
        <hr class="mt-5">
        <p style="display: inline">Here's a collection of hand-picked visualizations to get inspired by.</p>
        <a style="float: right" class="btn btn-default btn-sm" href="#" role="button"> <i class="fas fa-plus"></i>  add a vis</a>
    </div>
</div>

<%- include("../partials/footer") %>