<%- include('../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <br class="mt-5">
        <p class="lead">Are you looking for</p>
        <h1 class="display-4"> information on dataviz literacy?</h1>
        <hr class="mt-5">
        <p class="d-inline">Here's a collection of dataviz books everyone should read.</p>
        <a class="btn btn-default btn-sm float-right" href="/books/new" role="button"> <i class="fas fa-plus"></i>  add a book</a>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>

<%- include('../partials/footer') %>